.about {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    margin-top: 120px;
    gap: 100px;
    align-items: center;
}

/*
.about--description {
    
}
*/

.about--certificados {
    align-self: left;
}

.about--title {
    font-size: 3rem;
}