/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
    margin-top: 50px;
}

/* About Title */
.about__title {
    font-size: 35px;
}


/* Right side of the about section */
.about__description {
    display: flex;
    flex-direction: column;
    
}

.about__description__item {
    display: flex; 
    text-align: left;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
}

.about__items__img {
    width: 80px;
    margin-right: 12px;
}

.items__title {
    font-size: 25px;
    font-weight: 600;
}

.items__paragraph {
    font-size: 25px;
    font-weight: normal;
    width: 514px;
}