.footer {
    display: flex;
    padding: 50px 200px;
    align-items: center;
    margin-top: 550px;
}

.footer__hero {
    width: 50%;
}

.footer__title {
    font-size: 80px;
    font-weight: 700;
}

.footer__paragraph {
    font-size: 40px;
    font-weight: 400;
}

.footer__contact {
    width: 50%;
}

.footer img {
    width: 50px;
}

.footer__contact__list {
    display: flex;
    flex-direction: column;
}

.footer__contact__list__item {
    margin-top: 30px;
}

.list__item__link {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
    color: black;
}