/* General Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.header__nav {
    display: flex;
}

.header__nav__list {
    display: flex;
}

/* list items */
.nav__list--item {
    color: var(--dark-text);
    font-size: 1.5em;
}

.nav__list--item {
    padding: 10px 15px;
    border-radius: 3em;
}

.nav__list--item:hover {
    background-color: rgb(93, 224, 170);
    transition: 200ms all;
    color: rgb(0, 0, 0);
}