/* General Header */

.header--container {
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}

.header--container__nav {
    display: flex;
    align-items: center;
}

.header--container__nav__list {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

.header--container__nav__button {
    border: none;
    background-color: var(--light-background);
}

.header--container__nav__button img {
    width: 30px;

    align-items: center;
}

/* list items */
.header--container__nav__list a {
    color: var(--dark-text);
    font-size: 1.5em;
}