.header--container {
    display: flex;
    justify-content: space-between;
}

.header--container__nav {
    display: flex;
    align-items: center;
}

.header--container__nav__list {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.header--container__nav__button {
    border: none;
    background-color: var(--light-background);
}

.header--container__nav__button img  {
    width: 30px;
    height: 30px;
}