.project {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    margin-top: 120px;
}

.project__preview img {
    border-radius: 40px;
}

.project__description {
    display: flex;
    flex-direction: column;
}
